<div id="st-container" class="st-container">
  <div class="st-pusher">
    <div class="st-content">
      <header class="header">
          <nav class="top-bar">
            <div class="overlay-bg">
              <div class="container">
                <div class="row">
                  
                  <div class="col-sm-6 col-xs-12">
                    <div class="call-to-action">
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-phone"></i> 3373-3739</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i> certifica@certificaafericoes.com.br</a></li>
                      </ul>
                    </div><!-- /.call-to-action -->
                  </div><!-- /.col-sm-6 -->                  
                </div><!-- /.row -->
              </div><!-- /.container -->
            </div><!-- /.overlay-bg -->
          </nav><!-- /.top-bar -->
        
        <nav class="navbar navbar-default" role="navigation">
          
          <div class="container mainnav">
            <div class="navbar-header">
              <h1 class="logo"><a class="navbar-brand" href="index.html"><img src="assets/img/logo-certifica.png" alt=""></a></h1>

              <!-- offcanvas-trigger -->
              <!--<button type="button" class="navbar-toggle collapsed pull-right" >
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
              </button>-->

            </div>
          </div><!-- /.container -->

          
        </nav>
      </header>

                <div id="main-carousel" class="carousel slide hero-slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#main-carousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="assets/img/slider/slide-4.png" alt="Hero Slide">
                            <!--Slide Image-->

                            <div class="container">
                                <div class="carousel-caption">
                                    
                                    <h1 class="animated lightSpeedIn">Janus Permissionário</h1>

                                    <p class="lead animated lightSpeedIn">O aplicativo <strong>Janus Permissionário</strong> possibilita que o proprietário da loja ou 
                                      funcionários sejam notificados imediatamente à entrada de sua carga no mercado, antes que 
                                    o caminhão chegue para descarregar.</p>

                                    <a class="animated lightSpeedIn " href="#"><img class="google-play-logo" src="assets/img/slider/google-play-store.png"></a>
                                </div>
                                <!--.carousel-caption-->
                            </div>
                            <!--.container-->
                        </div>
                        <!--.item-->

                        <div class="item">
                            <img src="assets/img/slider/slide-5.jpg" alt="Hero Slide">
                            <!--Slide Image-->

                            <div class="container">
                                <div class="carousel-caption">

                                    <h1 class="animated bounceIn">Janus MLP</h1>

                                    <p class="lead animated bounceIn">Com o aplicativo <strong>Janus MLP</strong> é possível realizar
                                    o controle de comercialização completo do pequeno produtor</p>
                                    <a class="animated lightSpeedIn " href="#"><img class="google-play-logo" src="assets/img/slider/google-play-store.png"></a>
                                </div>
                                <!--.carousel-caption-->
                            </div>
                            <!--.container-->
                        </div>
                        <!--.item-->
                    </div>
                    <!--.carousel-inner-->

                    <!-- Controls -->
                    <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- #main-carousel-->


          <!-- services start -->
      <section class="service-home section-padding">
              <div class="container text-center">
                <div class="row">
                  <div class="col-xs-12">
                    <h2 class="section-title">Certificar é a nossa missão!</h2>
                    <p class="section-sub">No mercado desde <b>1989</b>, a <strong>Certifica</strong> começou a atuar no segmento de emissão de certificados de pesagem de caminhões no porto do Rio de Janeiro.<br>
                      Em <b>1992</b>, expandiu seus negócios para o <strong>CEASA/RJ</strong>, pesando grande parte dos produtos que entravam e saiam do mercado.<br>
                      Em <b>2014</b> assumimos a gestão do estacionamento e da portaria do <strong>CEASA/RJ</strong> e com isso abraçamos o objetivo de criar um produto que aumentasse a segurança e controle das cargas que circulavam no mercado.</p>
                  </div>
                </div> <!-- /.row -->
                <div class="row section-padding problems-section">
                  <div class="col-sm-6 col-xs-12 problems-text">
                    <h2><span class="color-blue">Pensando em</span> <span class="color-gold"><b>soluções</b></span></h2>
                    <p>para estes e vários outros problemas, foi desenvolvida uma ferramenta</p>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                      <img src="assets/img/graficos-problemas.jpg" alt="Problemas na aferição" >
                    </div>
                </div>

                
              </div><!-- /.container -->
          </section>
          <!-- services end -->

          <!-- featuer-section start -->
          <section class="feature-section section-padding">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <h2>Um sistema desenvolvido com a mais atual tecnologia.</h2>
                  <p>Com o objetivo de criar um produto que aumentasse a segurança e controle das cargas que circulavam no mercado, surgiu assim o Sistema Janus!</p>
                  <p>A ferramenta foi desenvolvida com a mais alta tecnologia e com o objetivo de atender à três demandas específicas:</p>
                  <ol>
                    <li>Controle de Acesso</li>
                    <li>Eficiência Logística</li>
                    <li>Apuração de Dados Estatísticos e de Inteligência</li>
                  </ol>
                  
                </div>
            
              </div>
            </div>
          </section>
          <section class="janus-graph section-padding">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <img src="assets/img/infografico-janus.jpg" alt="Mais segurança e Mais controle">
                </div>
                <div class="col-sm-6 col-xs-12 janus-graph-text">
                  <div class="safety"><span class="color-gold"><b>+</b></span> <span class="color-blue">segurança</span></div>
                  <div class="control"><span class="color-gold"><b>+</b></span> <span class="color-blue">controle</span></div>
                  <p>Outras vantagens do sistema:</p>
                  <ul>
                    <li class="col-sm-6 col-xs-12">
                      <span></span>
                      Plataforma exclusiva
                    </li>
                    <li class="col-sm-6 col-xs-12">
                      <span></span>
                      Dados e relatórios precisos
                    </li>
                    <li class="col-sm-6 col-xs-12">
                      <span></span>
                      Equipe especializada
                    </li>
                    <li class="col-sm-6 col-xs-12">
                      <span></span>
                      Suporte total em território nacional
                    </li>
                    <li class="col-sm-6 col-xs-12">
                      <span></span>
                      Infra estrutura sólida
                    </li>
                    <li class="col-sm-6 col-xs-12">
                      <span></span>
                      Alta capacidade de pesagem
                    </li>
                    <li class="col-sm-6 col-xs-12">
                      <span></span>
                      Segurança de alto nível
                    </li>
                    <li class="col-sm-6 col-xs-12">
                      <span></span>
                      Fluxo de informações dinâmico
                    </li>
                    <li class="col-sm-6 col-xs-12">
                      <span></span>
                      Relatórios personalizados
                    </li>
                    <li class="col-sm-6 col-xs-12">
                      <span></span>
                      Dados em tempo real
                    </li>
                    <li class="col-sm-6 col-xs-12">
                      <span></span>
                      Banco de dados inteligente (BI)
                    </li>
                    <li class="col-sm-6 col-xs-12">
                      <span></span>
                      Informações armazenadas em nuvem
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <!-- counter start -->
          <section class="counter-section" data-stellar-background-ratio="0.5">
            <div class="container">
          <div class="row">
                <div *ngFor="let info of data" class="col-sm-4 col-xs-12">
                  <div class="counter-block">
                    <span class="flaticon-logistics29">{{info.info}}</span>
                  </div>
                </div> 
               
              </div> <!-- /.row -->
            </div><!-- /.container -->
          </section><!-- /.counter-section -->
          <!-- counter end -->

          <!-- cta start -->
          <section class="cta-section">
            <div class="container text-center">
              <h3>Veja o vídeo de todo fluxo</h3>
              <iframe width="640" height="360" src="https://www.powtoon.com/embed/g2LxDm7LkkX/" frameborder="0"></iframe>

          

            </div><!-- /.container -->
          </section><!-- /.cta-section -->
          <!-- cta end -->

          <!-- footer-widget-section start -->
          <section class="footer-widget-section section-padding">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-md-offset-1 col-sm-4">
                  <div class="footer-widget">
                    <h3>Nossa localização</h3>

                    <address>
                      Av. Brasil 19001 - Irajá<br>
                      Setor Portaria Norte<br>
                      CEASA - Rio de Janeiro - RJ<br>

                      <span class="tel">(21) 3373 - 3739</span>
                    </address>

                
                  </div><!-- /.footer-widget -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-8 col-sm-7">
                    <iframe 
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.2921069885174!2d-43.337759944742785!3d-22.82867994184431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9964a129dad35b%3A0xac6a29837a61855c!2sCEASA-RJ!5e0!3m2!1spt-BR!2sbr!4v1523202492164" 
                      width="600" 
                      height="450" 
                      frameborder="0" 
                      style="border:0" 
                      allowfullscreen></iframe>
                </div>

                

                
              </div><!-- /.row -->
            </div><!-- /.container -->
          </section><!-- /.cta-section -->
          <!-- footer-widget-section end -->

          <!-- copyright-section start -->
          <footer class="copyright-section">
            <div class="container text-center">
              
            </div><!-- /.container -->
          </footer>
          <!-- copyright-section end -->
      </div> <!-- .st-content -->
    </div> <!-- .st-pusher -->
  
  
</div><!-- /st-container -->


<!-- Preloader -->
<div id="preloader">
  <div id="status">
    <div class="status-mes"></div>
  </div>
</div>
